In [1]:
import analysis as an
import os

In [2]:
basepath = '/Users/gracer/Google Drive/HCP/HCP_graph/1200/datasets/'
file_dict=an.onetoughjar(os.path.join(basepath,'tmp','5_summary_dict_07-31-2020_12-26-08'))

In [60]:
summary_dict=an.onetoughjar(os.path.join(basepath,'tmp','5_summary_dict_12-05-2019_03-29-19'))

In [66]:
summary_dict['NR']['no']['modules'].keys()

dict_keys(['partition', 'values', 'graph'])

In [65]:
import glob
import os
p = os.path.join(basepath,'tmp','5_summary_dict*')
list_of_files = glob.glob(p) # * means all if need specific format then *.csv
latest_file = max(list_of_files, key=os.path.getctime)
print(latest_file)

/Users/gracer/Google Drive/HCP/HCP_graph/1200/datasets/tmp/5_summary_dict_07-31-2020_12-30-21

In [53]:
file_dict['NR']['ob']['modules'].keys()

dict_keys(['partition', 'values', 'graph', 'zdegree'])

In [29]:
import pandas as pd

In [44]:
# columns=['module','']
# df = pd.DataFrame(columns=columns)
tmp_dict={}
for key, item in file_dict['NR'].items():
    print(key)
    for subkey, value in item.items():
#         print(subkey)
        if subkey in ['modules']:
            for x, y in value.items():
                print(x)
                if x == 'partition':
                    df=pd.DataFrame.from_dict(y, orient='index')
                    df.rename({0: 'module'}, axis=1, inplace = True)
                    df['group']=key
                if x == 'zdegree':
                    df['zdegree']=y
                
    tmp_dict[key]=df
                    
#                 print(y['partition'])
#             tmp=pd.DataFrame.from_dict(value, orient='index')
#             tmp['group'] = '%s'%key
#             tmp.to_csv(os.path.join(basepath,'tmp','%s_%s_data_per_sub.csv'%(key,subkey)), sep=',')
total_df=pd.concat(list(tmp_dict.values()))

no
partition
values
graph
zdegree
ov
partition
values
graph
zdegree
ob
partition
values
graph
zdegree

In [47]:
total_df.to_csv(os.path.join(basepath,'tmp','zDegree.csv'),sep=',')

In [43]:
tmp_dict['no']

    module group   zdegree
0        0    no  0.253370
1        1    no  1.161941
2        2    no -0.041075
3        2    no  1.215387
4        3    no  1.728312
..     ...   ...       ...
95       2    no -1.339554
96       2    no -1.855443
97       7    no -1.151328
98       7    no  0.892225
99       7    no  1.449322

[100 rows x 3 columns]

### Hubs  
intra-modular degree greater than 2.5   
a participant coefficient between 0 and 0.3 was considered a provincial hub   
between 0.3 and 0.75 was considered a connector hub  
between 0.75 and 1 was a kinless hub  
## non-hub 
ultra-peripheral node if the participation coefficient was between 0 and 0.05   
a peripheral node if the participation coefficient was between 0.05 and 0.62  
and a connector node if the participation coefficient was between 0.63 and 0.8  
kinless nodes if the participation coefficient was between 0.8 and 1